<article>
    <img src="Product image url"
      alt="Product image"
      width="300"
      height="400"
    />
    <h3>Product title</h3>
    <p class="description">
      Product description
    </p>
    <p class="price">&euro; <span>Product price</span></p>
    <button>Buy now</button>
  </article>