---
import { getCollection } from 'astro:content';
const products = await getCollection ('products');
import ProductCard from '../components/ProductCard.astro';
---

<ul>
    {
      products.map((product) => (
        <li>
            <ProductCard product={product.data} />
        </li>
      ))
    }
    </ul>

    <style>
          ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: var(--s4);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
    </style>