---
import { getCollection } from 'astro:content';
import ProductCard from './ProductCard.astro';

const products = await getCollection('products');
---

<ul>
  {products.map((product) => (
    <li>
      <a href={`/products/${product.data.id}`}>
        <ProductCard product={product} />
      </a>
    </li>
  ))}
</ul>